.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.client__list {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    list-style: none;
}

.client__item {
    width: calc(100% / 6 - 30px);
    height: 92px;

    &:not(:first-child) {
            margin-left: 30px;
        }
}


.client__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    border: 1px solid $svg-color;
    border-radius: 4px;
    color: $svg-color;

    transition: $anima;


   &:hover,
   &:focus {
            color: $brand-color;
            border: 1px solid $brand-color;
        }
}



.client__icon {
    fill: currentColor;

    &:hover,
    &:focus {
        fill: currentColor;
    }
}

