.header {
    display: flex;
    height: 80px;
    border-bottom: 1px solid #ececec;
    align-items: center;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__item:not(:first-child) {
    margin-left: 50px;
}

.header__logo {
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;

    text-decoration: none;
    color: $brand-color;


    &:hover,
     &:focus {
            color: $brand-color;
        }
}



.header__studio {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
    color: $text-color;
}

.header__list {
    display: flex;
    font-weight: 500;
    line-height: 1.71;
    letter-spacing: 0.02em;
    list-style: none;
}

.header__link {
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    color: var(--text-color);

    position: relative;
    transition: var(--anima);

       &:hover,
       &:focus {
            color: $brand-color;
        }
}


.header__link--current {
    color: $brand-color;
}

.header__link--current::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -1px;

    display: block;
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
}

.contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
    font-family: $main-font;
    font-weight: 500;
    line-height: 1.71;
    letter-spacing: 0.02em;
    list-style: none;
}

.contacts__item:not(:first-child) {
    margin-left: 50px;
}

.contacts__link {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    width: 161px;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $body-color;

    transition: $anima;

    &:hover,
    &:focus {
            color: $brand-color;
        }
}



.icon,
.icon:hover,
.icon:focus {
    fill: currentColor;
}