.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
    opacity: 1;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    max-height: 581px;
    max-width: 528px;
    padding: 40px;

    background-color: #fff;
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 30px;
    width: 30px;

    background-color: transparent;
    margin-left: auto;

    cursor: pointer;
    color: $text-color;
    border: 1px solid $body-color;
    border-radius: 50%;
    transition: $anima;

   &:hover {
            color: $accent-hover-color;
        }
}

.modal__icon {
    fill: currentColor;
    border: #212121;
    border-radius: 50%;
}

.form {
    min-width: 448px;
}

.form__title {
    margin-bottom: 12px;
    font-family: $main-font;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: $text-color;
}

.form__field {
    position: relative;
    /* outline: 1px solid blue; */
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    color: $text-color;
}

.form__label {
    margin-right: auto;
    margin-bottom: 4px;
    font-family: $main-font;
    font-size: 12px;
    line-height: 1.17;
    /* identical to box height */

    letter-spacing: 0.01em;

    color: $body-color;
}

.form__input {
    margin: 0;
    padding: 10px 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition: $anima;
    // cursor: pointer;
    
    &:hover,
    &:focus {
        border: 1px solid $accent-hover-color;
        color: $accent-hover-color;
    }

}


.form__input:hover~.form__icon {
    color: $accent-hover-color;
}

.form__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    fill: currentColor;
}

.form__textarea {
    padding: 12px 16px;
    resize: none;
    margin-bottom: 20px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;

        &::placeholder {
            margin-bottom: 20px;
            font-family: $main-font;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.01em;
    
            color: rgba(117, 117, 117, 0.5);
        }
}



.form__text {
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;

    color: $body-color;
}

.form__link {
    padding-left: 4px;

    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;
    text-decoration-line: underline;

    color: $brand-color;
}

.form__button {
    margin-top: 30px;
    width: 200px;
    height: 50px;
    padding: 10px 55px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    letter-spacing: 0.06em;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: $accent-color;
    background-color: $brand-color;
    transition: $anima;

    &:hover {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        background-color: $accent-hover-color;
    }
}



.field {
    display: inline-flex;

    align-items: center;
    /* outline: 1px solid black; */
}

.checkbox {
    /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute; */

    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.checkbox__icon {
    display: inline-block;
    margin-left: 12px;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    fill: none;
    border: 2px solid #212121;
    border-radius: 4px;

    transition: $anima;
}

.checkbox:checked+.checkbox__icon {
    transform: scale(1.2);
    border-color: transparent;
    background-color: $brand-color;
    fill: $accent-color;
    background-size: contain;
    background-origin: border-box;
}